@font-face {
    font-family: "Anime Ace";
    src: url("../css/animeace2_reg.otf");
    font-weight: 400;
    font-style: normal;
}

html {
    --annotation-title-font-size: 15px;
    --annotation-label-font-size: 13px;
}

/************* general *************/
body {
    
    font-weight: 400;
}

svg {
    font-family: 'Anime Ace', monospace;
}

svg, canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.name-label {
}
.last-name-label {
    fill: #b9b9b9;
}

.chapter-number {
    fill: #6d6d6d;
}

.card-label {
    cursor: default;
}
.card-legend {
    fill: #a1a1a1;
}

.volume-arc {
    fill: none;
    stroke-linecap: round;
}

.connector, .note-line {
    stroke-linecap: round;
}
.annotation-note-title {
    font-size: var(--annotation-title-font-size);
}
.annotation-note-label {
    font-size: var(--annotation-label-font-size);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.note-cards .connector, .note-line {
    stroke: #f6b42b;
}
.note-cards .annotation-note-title {
    fill: #f6b42b;
}