/*----------------- GENERAL -------------------*/

html {
  	height: 100%;
}

body {
  	font-family: 'Assistant', sans-serif;
  	color: black;
  	height: 100%;
  	font-size: 1.8em;
}

.container-fluid {
  	padding-right: 0;
  	padding-left: 0;
}

.light-grey {
  	color: #a6a6a6;
}

.ampersand {
/*	font-family: 'Rochester', cursive;*/
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	font-style: italic;
}

.verticalAlign {
	vertical-align: sub;
}

/*-------------- INTRO SECTION -----------------*/

#intro {
  	width: 100%;
  	height: 100%;
  	text-align: center;
}

#intro .title-wrapper {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	width: 100%;
}

#intro .main-title {
  	font-family: 'Quicksand', sans-serif;
  	font-size: 6em;
  	font-weight: 400;
  	line-height: 110%;
  	padding-bottom: 15px;
}

#intro .main-subtitle{
	font-family: 'Sacramento', cursive;
  	font-size: 1.4em;
  	color: #0a0a0a;
}

#intro .intro-body-text {
  	font-family: 'Assistant', sans-serif;
  	font-size: 0.9em;
  	color: #a6a6a6;
  	padding-top: 50px;
  	font-weight: 300;
}

/*-------------- MONTH SECTION -----------------*/

#months .black-text {
	color: black;
}

#months .white-text {
	color: white;
}

#months .month-row {
	position: relative;
	height: 400px;
	width: 100%;
}

#months .month-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#months #current {
	background-color: #0a0a0a;
	text-align: center;
}

#months #current h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5em;
    font-weight: 400;
	margin-top: 0px;
}

#months #current h2 {
	font-family: 'Sacramento', cursive;
    font-size: 1.25em;
	margin-bottom: 0;
}

#months #current p {
    font-family: 'Assistant', sans-serif;
    font-size: 0.8em;
    color: #a6a6a6;
    padding-top: 40px;
    font-weight: 300;
}


/*-------------- FOOTER SECTION -----------------*/

footer {
  padding: 30px;
  background-color: black;
  color: white;
  font-size: 0.7em;
  font-weight: 100;
}

footer .block {
    padding-bottom: 10px;
}

footer .list {
    padding-bottom: 3px;
}

footer .description {
  /*font-size: 0.7em;*/
}

a, a:link, a:visited, a:active {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, .5);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}


