/*----------------- GENERAL -------------------*/

html {
  	height: 100%;
    font-size: 62.5%;
}

body {
  	font-family: 'Open Sans', sans-serif;
  	color: black;
  	height: 100%;
  	font-size: 12px; /*1.2rem;*/
}

.container-fluid {
  	padding-right: 0;
  	padding-left: 0;
}

.light-grey {
  	color: #a6a6a6;
}

.ampersand {
/*	font-family: 'Rochester', cursive;*/
	font-family: 'Playfair Display', serif;
	font-size: 50px; /*5rem;*/
	font-style: italic;
}

.verticalAlign {
	vertical-align: sub;
}

@media only screen and (max-width: 500px) {
	.hide-mobile {
		display: none;
	}
}

/*-------------- INTRO SECTION -----------------*/

#intro {
  	width: 100%;
  	height: 100%;
  	text-align: center;
}

#intro .title-wrapper {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	width: 100%;
}

#intro .main-title {
  	font-family: 'Quicksand', sans-serif;
  	font-size: 12rem;
  	font-weight: 400;
  	line-height: 110%;
  	padding-bottom: 15px;
}

#intro .main-subtitle{
	font-family: 'Sacramento', cursive;
  	font-size: 25px; /*2.5rem;*/
  	color: #0a0a0a;
}

#intro p {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 14px; /*1.4rem;*/
  	color: #9a9a9a;
  	padding-top: 50px;
  	font-weight: 300;
	width: 90%;
	margin: 0 auto;
}

/*-------------- MONTH SECTION -----------------*/

#months .black-text {
	color: black;
}

#months .white-text {
	color: white;
}

#months .month-row {
	position: relative;
	height: 400px;
	width: 100%;
}

#months .month-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#months h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 8.25rem;
    font-weight: 400;
	margin-top: 0;
}

#months h2 {
	font-family: 'Sacramento', cursive;
    font-size: 2.75rem;
	margin-bottom: 0;
}
@media only screen and (max-width: 800px) {
	#months h2 {
		font-size: 20px;
		padding-bottom: 10px;
	}
}

#months p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; /*1.2rem;*/
    color: #a6a6a6;
    padding-top: 0px;
    font-weight: 300;
	width: 90%;
	margin: 0 auto;
}

#months #current {
	background-color: #1d1d1d;
	text-align: center;
}

/*-------------- FOOTER SECTION -----------------*/

footer {
  padding: 30px;
  background-color: black;
  color: white;
  font-size: 12px; /*1.2rem;*/
  font-weight: 100;
  width: 100%;
}

footer .block {
    padding-bottom: 10px;
}

footer .list {
    padding-bottom: 3px;
}

footer .description {
  /*font-size: 1.2rem;*/
}

a, a:link, a:visited, a:active {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, .5);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}


