/*----------------- GENERAL -------------------*/

html {
  	height: 100%;
    font-size: 62.5%;
}

body {
  	font-family: 'Tinos', serif;
  	color: #33383b;
  	height: 100%;
  	font-size: 12px;
}

.no-margin-row {
  margin-left: 0px;
  margin-right: 0px;
}

@font-face {
  font-family: "King Basil";
  src: url("../font/King-Basil.ttf");
}

.kingBasil {
  font-family: "King Basil", cursive;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.peach {
  color: #f5c2b1;
}

.dark-pink {
  color: #e0a390;
}

.dark-grey {
  color: #33383b;
}

.no-border {
  border-bottom: none !important;
}

a, a:link, a:visited, a:active {
  border-bottom: 1px dotted;
}

a.fancybox-close, a:link.fancybox-close, a:visited.fancybox-close, a:active.fancybox-close {
    border-bottom: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.container-fluid {
  	padding-right: 0;
  	padding-left: 0;
}

.verticalAlign {
	vertical-align: sub;
}

.padding-column {
  padding-left: 30px;
  padding-right: 30px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.nadieh {
  text-align: right;
}

.shirley, .nadieh {
  padding: 40px;
}

.light {
  background-color: #fefdfc;
  color: #33383b;
}

.dark {
  color: #fefdfc;
  background-color: #33383b;
}

.dark a, .dark a:hover {
  color: #fefdfc;
}

.light a, .light a:hover {
  color: #33383b;
}

.background {
  position: absolute;
  width: 50%;
  height: 100%;
}

.background.shirley {
  left: 50%;
}

.name {
  font-size: 24px;
}

.time {
  line-height: 70%
}

.location {
  font-size: 14px;
}

.paddingBelow {
    padding-bottom: 10px;
}

.paddingTop20 {
    padding-top: 20px;
}

.centerText {
  text-align: center
}

@media only screen and (max-width: 500px) {
	.hide-mobile {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
  .hide-mobile-lg {
    display: none;
  }
}

@media (min-width: 1400px) {
	.container {
    	width: 1370px;
	}
}

/*-------------- INTRO SECTION -----------------*/

#intro {
  	width: 100%;
  	text-align: center;
    background-color: #fefdfc;
    padding-bottom: 70px;
}

#intro .title-wrapper {
  	width: 100%;
    padding-top: 20px
}

#intro .logo {
    /*margin: 20px;*/
}

#intro .main-title {
  	font-family: 'Quicksand', sans-serif;
  	font-size: 70px;
  	line-height: 110%;
    margin-bottom: 20px;
    cursor: default;
}

#intro .main-subtitle{
  	font-size: 16px;
    cursor: default;
}

#intro p {
  	font-size: 14px;
  	color: #9a9a9a;
  	padding-top: 50px;
	  width: 90%;
	  margin: 0 auto;
    cursor: default;
}

/*-------------- MONTH SECTION -----------------*/

#months {
  position: relative;
}

#months .month {
	margin-top: 10px;
}

#months #current.month {
  margin-top: 0px;
}


#months .month-row-current {
  position: relative;
  height: 200px;
  text-align: center;
  background-color: #fff;
}

#months .month-row {
	position: relative;
	height: 400px;
	text-align: center;
  background-color: #fff;
}

#months .month-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
	width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#months h1 {
  font-size: 52px;
	margin-top: 0;
  cursor: default;
}

#months h2 {
  font-size: 20px;
	margin-bottom: 0;
  cursor: default;
}

/*@media only screen and (max-width: 800px) {
	#months h2 {
		font-size: 20px;
		padding-bottom: 10px;
	}
}*/

#months p {
  padding-top: 20px;
	width: 90%;
	margin: 0 auto;
  cursor: default;
}

#current p {
  padding-top: 0px;
}

#months .read-button {
  background: -webkit-gradient(linear, right bottom, left top, color-stop(0%, #ffd2c6), color-stop(50%, #f2bba6), color-stop(67%, #d59381)); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(right, #ffd2c6 0%, #f2bba6 50%, #d59381 67%); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(right, #ffd2c6 0%, #f2bba6 50%, #d59381 67%);    /* FF3.6+ */
  background: linear-gradient(to right, #ffd2c6 0%, #f2bba6 50%, #d59381 67%);

  display: inline-block;
  padding: 2px;
  margin-top: 30px;
}

#months .read-button a, #months .read-button a:hover {
  color: #f9c6b4;
  text-decoration: none;
  border-bottom: none;
  font-size: 16px;
}

#months .read-wrapper {
  padding: 5px 20px;
  background-color: #fff;
}

#months .month-img {
  	height: 400px;
  	padding: 0;
  	overflow: hidden;
  	position: relative;
}

/* Make the images less high on small screens */
/*@media only screen and (max-width: 500px) {
	#months .month-img, #months .month-row {
		height: 250px;
	}
}*/

#months .month-img-left img {
  	position: absolute;
  	left: 100%;
  	top: 50%;
  	transform: translateX(-100%) translateY(-50%);
  	-webkit-transform: translateX(-100%) translateY(-50%);
  	-ms-transform: translateX(-100%) translateY(-50%);
}

#months .month-img-right img {
  	position: absolute;
  	left: 0%;
  	top: 50%;
  	transform: translateX(0%) translateY(-50%);
  	-webkit-transform: translateX(0%) translateY(-50%);
  	-ms-transform: translateX(0%) translateY(-50%);
}

#months .div-link {
	display: block;
	border-bottom: none;
}

/*-------------- HEADER SECTION -----------------*/

header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  background-color: #fefdfc;
  z-index: 1;
}

header a, header a:link, header a:visited, header a:active {
  color: #ffd2c6;
}

header .month-page-title {
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #fefdfc;
  text-align: center;
}

header .general-about {
  padding: 0px 10px;
}

header .about-top-text {
  text-align: justify;
  font-size: 14px;
}

header h1 {
    font-size: 80px;
    line-height: 110%;
    /*padding-bottom: 15px;*/
    margin-top: 0;
}

header  h2 {
    font-size: 24px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 800px) {
  header  h2 {
    font-size: 24px;
  }
}

/*-------------- MONTH PAGES -----------------*/

.month-page {
  position: relative;
}

.month-page h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.month-page p {
    text-align: left;
}

.month-page-note {
    font-size: 25px;
    color: #0a0a0a;
    padding-bottom: 60px;
}

.img-month, .img-month-top {
	text-align: center;
	margin: 0 auto;
}

.write-up {
  padding: 0;
}

.write-up .img-month {
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-month-top {
	margin-bottom: 30px;
}

.img-gallery-3 {
	max-width: 30%;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*-------------- FOOTER SECTION -----------------*/

footer {
  background-color: #33383b;
  color: #fefdfc;
  font-size: 12px;
  width: 100%;
  padding: 40px;
  text-align: center;
}

footer a, footer a:link, footer a:visited, footer a:active {
  color: #fefdfc;
  border-bottom: 1px dotted rgba(255, 255, 255, .5);
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.about-link {
  padding: 5px 0px;
}

/*------------------ ABOUT PAGE -----------------*/

#about {
  position: relative;
}

.about-page-title {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #fefdfc;
    text-align: center;
}

.about-page p {
    text-align: justify;
    /*color: #545454;*/
}

.about-intro-text {
  padding-bottom: 40px;
}

#about .filter-nadieh {
  position: relative;
  -webkit-filter: contrast(90%) brightness(120%) saturate(110%);
  filter: contrast(90%) brightness(120%) saturate(110%);
}
#about .filter-nadieh::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.5;
  background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(255, 177, 166, 1) 50, rgba(52, 33, 52, 1));
  background: radial-gradient(50% 50%, circle closest-corner, rgba(255, 177, 166, 1) 50, rgba(52, 33, 52, 1));
}

#about .filter-shirley {
  position: relative;
  -webkit-filter: contrast(90%) brightness(120%) saturate(110%);
  filter: contrast(90%) brightness(120%) saturate(110%);
}
#about .filter-shirley::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.5;
  background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(255, 177, 166, 1) 50, rgba(52, 33, 52, 1));
  background: radial-gradient(50% 50%, circle closest-corner, rgba(255, 177, 166, 1) 50, rgba(52, 33, 52, 1));
}

#about .img-person {
  text-align: center;
  margin: 30px auto;
  width: 100%;
  max-width: 300px;
}

#about .clip-circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

#about .clip-hexagon {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}


#about #city-images {
  width: 100%;
  margin-top: 20px;
}

#city-images .city-img-wrapper {
  float: left;
  max-width: 50%;
  overflow: hidden;
}

#city-images .city-img {
  width: 110%;
  margin: -5px -10px -5px -10px;
}

/*.filter-city {
  position: relative;
  -webkit-filter: brightness(105%) hue-rotate(350deg) blur(4px);
  filter: brightness(105%) hue-rotate(350deg) blur(4px);
}*/
/*.filter-city::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: darken;
  background: -webkit-linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(0, 0, 0, 0));
}*/
