body {
	font-family: 'Tangerine', cursive;
	/*text-align: center;*/
/*	font-family: 'La Belle Aurore', cursive;*/
}

.svgViz {
	position: absolute;
	/*top: 200;*/
	/*left: 0;*/
}

#totalChartWrapper {
	position: relative;
	margin: 0 auto;
}

/* --- Title --- */

#headerTitle {
	text-align: center;
	font-family: 'Tangerine', cursive;
	text-anchor: middle;
	fill: #4c4c4c;
}

.title-magic {
	font-size: 140px;
	font-weight: 700;
}

.title-rest {
	font-size: 50px;	
}

/* --- Intro text --- */

#subtitle {
	max-width: 1000px;
	padding: 40px 50px;
	margin: 0 auto;
	font-family: 'Ek Mukta', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 170%;
	text-align: left;
	color: #353535;	
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#subtitle p {
	margin-top: 0px;
	margin-bottom: 20px;
}

.fw400 {
	font-weight: 400;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.eagle {
	font-family: 'Eagle Lake', cursive;
	font-size: 0.9em;
}

.tang {
	font-family: 'Tangerine', cursive;
	font-size: 1.8em;
}

.fs090 {
	font-size: 0.9em;
}
.fs125 {
	font-size: 1.25em;
}
.fs150 {
	font-size: 1.5em;
}

.blue {
	color: #1581d7;
}
.grey {
	color: #959595;
}

.subtitle-intro {
	font-weight: 600;
	font-size: 22px;
}

/* --- Book chart --- */

/*.term {
	font-family: 'Eagle Lake', cursive;
	cursor: default;
	text-anchor: middle;
}*/

.book-title {
	cursor: default;
	fill: #343434;
	text-anchor: middle;
	opacity: 0.9;
	font-family: 'Tangerine', cursive;
}

.author-path, .letter-path {
	fill: none;
}

/* --- Tooltip --- */

.tooltip-wrapper {
	font-family: 'Eagle Lake', cursive;
	font-size: 11px;
	pointer-events: none;
	text-anchor: middle;
	text-shadow: 0 1px 4px white, 1px 0 4px white, -1px 0 4px white, 0 -1px 4px white;
}

.tooltip-name {
	font-size: 19px;
	/*fill: white;*/
}

.tooltip-rank {
	font-size: 11px;
	/*fill: white;*/
}