body {
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-family: 'Anton', sans-serif;
}

a, a:link, a:visited, a:active {
  color: #f27c07;
  border-bottom: 1px dotted rgba(203, 39, 46, .5);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #f27c07;
}

a.image-link {
	border-bottom: none;
}

.mobile {
	display: none;
}

.outer-margin {
	margin-left: 50px;
	margin-right: 50px;
}

/* --- Intro --- */


/* --- Chart --- */

@media screen and (max-width: 450px) {
  #chart {
    font-size: 8px !important;
  }
}

@media screen and (min-width: 1000px) {
  #chart {
    font-size: 12px !important;
  }
}
#chart{
	text-align: center;
	font-size: calc(8px + (12 - 8) * (100vw - 450px)/(1000 - 450));
	/*font-size: 12px;*/
}

.saga-line {
    /*stroke: #e1e1e1;*/
    stroke-width: 1px;
    /*stroke-dasharray: 2 6;*/
    stroke-linecap: round;
    pointer-events: none;
}

.saga-name-group {
	pointer-events: none;
}
.subsaga-name {
	font-size: 1.5em;
	font-family: 'PT Sans Narrow', sans-serif;
}
.saga-name {
	font-size: 1em;
	font-family: 'PT Sans', sans-serif;
	fill: #a7a6a6;
}
.saga-episode {
	font-size: 0.8em;
	font-family: 'PT Sans', sans-serif;
	fill: #777777;
	font-style: italic;
}

.annotation-wrapper {
	pointer-events: none;
}
.annotation-text {
	font-size: 1em;
	font-family: 'PT Sans', sans-serif;
	fill: #777777;
}
.annotation-line {
	stroke-linecap: round;
}

.character-line-wrapper {
	isolation: isolate;
}

.character-path-group {
	opacity: 0.4;
}
.character-path {
	/*fill: none;*/
	/*pointer-events: none;*/
	mix-blend-mode: multiply;
	/*opacity: 0.3;*/
}

.character-path-group.goku {
	box-shadow: 10px 10px 5px #888888;
}

.fight-background {
	pointer-events: all;
	fill: none;
	/*opacity: 0.6;*/
}

.fight-background-circle {
	pointer-events: none;
	fill: white;
	/*stroke: #e1e1e1;*/
	/*stroke-width: 1px;*/
}

#overlay-rect {
	pointer-events: none;	
	fill: white;
}

.character-circle {
	mix-blend-mode: multiply;
	pointer-events: none;
	opacity: 1;
}

.majin-text {
	font-size: 5px;
	text-anchor: middle;
	pointer-events: none;
}

/* --- Tooltip --- */

.tooltip-wrapper-line {
	pointer-events: none;
	text-anchor: middle;
	text-shadow: 0 1px 2px white, 1px 0 2px white, -1px 0 2px white, 0 -1px 2px white;
}

.tooltip-character-line {
	font-size: 1.5em;
	font-family: 'PT Sans Narrow', sans-serif;
}


@media screen and (max-width: 450px) {
  #tooltip {
    font-size: 8px !important;
  }
}

@media screen and (min-width: 1000px) {
  #tooltip {
    font-size: 12px !important;
  }
}

#tooltip {
  pointer-events: none;
  text-align:center;  
  z-index: 1000;
  position: absolute;
  opacity: 0;
  font-size: calc(8px + (12 - 8) * (100vw - 450px)/(1000 - 450));
  position: absolute;
  cursor: default;
}

#tooltip-container {
  position: relative;
  top: 50%;
  /*left: 50%;*/ /*Done in the code*/
  transform: translate(-50%, -50%);
  /*width: 230px;*/
  /*left: -115px; /* 230/2*/
  max-width: 300px;
  font-size: 1em;
  padding: 15px 25px;
  border-radius: 3px;
  background: white;
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);  
  border: 1px solid rgba(200,200,200,0.7);
}

.tooltip-rule {
  height: 1px;
  margin: 1px auto 3px;
  background: #ddd;
  width: 130px;
}

.tooltip-saga {
  text-transform: uppercase;
  font-size: 0.8em;
  /*margin-bottom: 0.5em;*/
  color: #a4a4a4; 
}

.tooltip-characters {
  color: #aeaeae;
  font-size: 1.3em;  
  font-family: 'PT Sans Narrow', sans-serif;  
}
.tooltip-characters.good {
  margin-top: 0.7em;
}
.tooltip-characters.bad {   
  margin-bottom: 0em;  
}

.tooltip-vs {
  color: #a8a8a8;
  font-size: 0.9em;   
  margin-top: 0.3em;
  margin-bottom: 0.2em; 
}

.tooltip-info {
  color: #a8a8a8;
  font-size: 0.8em;
  font-style: italic;
}

.tooltip-extra {
  color: #333333;
  font-size: 0.8em; 
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* --- Credits --- */

#credit {
	padding-bottom: 25px;
}

#credit p {
	margin-top: 0px;
	margin-bottom: 3px;
}

.credit-bold {
	font-weight: 600;
	font-size: 1em;
}

.credit-divider {
	color: #b7b7b7;
	font-weight: 600;
	font-size: 0.9em;
	padding: 0px 5px;
}

.credit-note {
	line-height: 140%;
	font-size: 0.8em;
	font-weight: 400;
	color: #656565;
}
